/* CSS files add styling rules to your content */

body {
  font-family: Verdana, sans-serif;
  height: 100%;
  margin: 0;
}

/* Dropdown */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4CAF50;  

}

li a, .dropbtn {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #10CC6B;
  color: #ffffff;
}

li.dropdown {
  display: inline-block;
}

.topnav-right {
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #10CC6B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3CB371;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  background-color: #4CAF50;
  text-align: right;
  padding: 10px;
  margin-top: 100px;
  color:#ffffff;
  font-family: Verdana, sans-serif;
}

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
  height: 500px;
  border: solid 1px black;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
   background-color: #4CAF50;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.column {
  float: none;
  padding: 10px;
  font-family: Verdana, sans-serif;
  margin-left: 50px;
  margin-right: 50px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*fade in boxed link over image*/
/*left column*/
.container {
 position:relative;
 width: 26%; 
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}  


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

/*right column*/
.container2 {
 position:relative;
 width: 100%; 
}

.container2:hover .image {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}



.text2 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

.button {
  background-color: mediumseagreen;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  margin: 4px 2px;
  cursor: pointer;
}
/*maya's column header*/
h9 {
  float: right;
  font-size:24px;
}
/*maya's column text*/
p9 { 
  font-family: Verdana, sans-serif;
  text-align:left;
  font-size: 18px;
  color: black;
}

/*footer heading*/
h8 {
  font-size: 24px;
}
/*h does not center for some reason*/
h {
 text-align: center;
}

h1{
 text-align:center; 
  font-size: 24px;
}

p{
  text-align:center; 
   line-height: 1.4;
}


/* Cards Font */
h2{
 text-align: center; 
 text-decoration: none;
}

p2{
  text-align:center; 
}
/* Footer text */
p8 {
  text-decoration:none;
  color: #ffffff;
}

a{
  text-decoration:none;
  color: #ffffff;
}
/*FAQ header*/
h10 {
  font-size: 20px;
  text-align: center; 
  font-weight: bold;
}

/*FAQ text*/
p10 {
  font-size: 18px;
  text-align: center; 
  line-height: 1.4;
  color: black; 
}

h11 {
  font-size: 40px;
  text-align: center; 
}
/* Rio's Font */
h3{
  font-size: 40px;
  text-align: center;
}
/*page header*/
h12 {
  text-align: center;
  font-size: 24px;
}

/*Katrina's Fonts*/
/*Main Heading Fonts*/
h5 {
  text-align:center;
  font-size: 30px;
  font-weight: normal;
}

p.solid {border-style: solid;
 border-width: 20px;
 border-color:transparent;}

/*Small Heading Fonts*/
h6{
  font-weight: normal;  
  text-align:center;
  font-size: 22px;
  margin-top: 0;
  margin-bottom:0;
}

h7 {
    text-align:center;
    font-size: 25px;
    font-weight: normal;
    color:white;
}
h15{ font-weight: normal;  
  text-align:left;
  font-size: 22px;
    margin-top: 0;
  margin-bottom:0;

}
p15{ text-align:left;}

h4 {
 text-align:center;
    font-size: 35px;
  font-weight: normal;
    color:#4CAF50;
   margin-top: 0;
  margin-bottom:0;
}


p7{
  font-size: 18px;
  text-align: center; 
  color:white;
}

h13 {
  font-size: 20px;
   text-align:center
}

.flex-container {
  align-items: center;
  justify-content: center;
}

.leftcolumn {   
  float: left;
  width: 75%;
  padding-left: 20px;
  color: #4CAF50;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 15px;
  color: #4CAF50;
}

.card2 {
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  border-style: solid;
  border-color: #4CAF50;
  border-width: 3px;
  margin-top: 20px;
}


/* columns */
.first-second {
  float: left;
  width: 75%;
  padding-left: 20px;
  
}

.second-second{
  float: left;
  width: 25%;
  padding-left: 15px;
}
@media only screen and (max-width: 960px) {
 .first-second {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .second-second{
    width: 100%;
    padding-bottom: 10px;
    float: none;    
  }
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/* Centered text */
.centered {
 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Centered images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Centering without the width 50% */
.center-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  
  
/* Flip Cards */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #4CAF50;
  color: white;
}

.flip-card-back {
  background-color: #4CAF50;
  color: white;
  transform: rotateY(180deg);
}

/* Lists Stuff*/
ul1 {
    display:table; margin:0 auto;
}

ul2 {
    display:table; margin-left:10px;
}

/* Katrina's Column Cards Code */

/* Card Stuff */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left:20px;
  margin-right: 20px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container1 {
  padding: 2px 16px;
}

/* On mouse-over, add a deeper shadow */


/* Float four columns side by side */
.column-cards {
  float: left;
  width: 50%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.row-cards {margin: 0 -5px;
  display:flex;
  justify-content: center;
}

.row-card3 {margin: 0 -5px;
}

.row-card3:after {
  content: "";
  display: table;
  clear: both;
}

/* Clear floats after the columns */
.row-cards:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* It Ends Here*/
/* Pakistan Stuff*/


/* Create two equal columns that floats next to each other */
.column1{
 float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Images to float Left with Images Beside */
.left{
  float:left
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Katrina's Card */
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left:20px;
  margin-right: 20px;
  background-color: #4CAF50;
  text-align: center;

}

.button1 {
  background-color: mediumseagreen;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}


.leftcolumn a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}


.leftcolumn a:hover {
   color: #FFE600;
}

.rightcolumn a:hover {
   color: #FFE600;
}

.leftcolumn a2 {
  color: black;
  text-decoration: none;
  font-size: 18px;
}


.leftcolumn a2:hover {
   color: #FFE600;
}

/*awards list*/
ol.c {
  list-style-type: upper-roman;
  font-size: 18px;
  color: black;
}


.card4 {
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  border-right: 3px solid #4CAF50;
  margin-top: 20px;
}



/* Create two equal columns that floats next to each other */
.column-rio {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Clear floats after the columns */
.row-rio:after {
  content: "";
  display: table;
  clear: both;
}

 table {
            font-family:"Lato", sans-serif;
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }

          tr:nth-child(even) {
            background-color: #dddddd;
          }